In [63]:
import pandas as pd

## Create dataframe

In [21]:
reviews = pd.read_csv('reviews 2 reduced.csv')

In [39]:
listings = pd.read_csv('listings 2 reduced.csv')

## Retrive rows

In [23]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,13913,597622110054753727,2022-04-04,2941217,Kévin,"If the room is available, just take it !"
1,13913,628812668788849576,2022-05-17,32486646,Saarah,"Alina's flat is lovely and quirky, with art al..."
2,13913,631032182017371215,2022-05-20,203803703,Mallin,This is the most cosy and beautifully-decorate...
3,13913,632423370762131190,2022-05-22,172968198,Ged,"Alina was very welcoming, friendly and helpfu..."
4,13913,646234379625287966,2022-06-10,27083732,Robert,"An arty flat, clean and comfortable big room, ..."

In [34]:
listings.tail()

,id,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,host_is_superhost,neighbourhood_cleansed,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,description
87941,973781286754517228,498408783,2023-01-28,2.0,t,2,Entire rental unit,Entire home/apt,f,2,...,t,Westminster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Enjoy a Experience unique look in the center o...
87942,973801695874775338,36645347,2015-06-24,1.0,t,1,Entire rental unit,Entire home/apt,f,3,...,f,Southwark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,La Casita is a unique one bedroom flat in Sout...
87943,973811685656289740,340514057,2020-03-06,1.0,t,1,Private room in home,Private room,f,1,...,f,Merton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87944,973882998775927897,439074505,2022-01-05,2538.0,t,170,Entire home,Entire home/apt,t,1,...,f,Hounslow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<b>The space</b><br />Looking for a spacious h...
87945,973895808066047620,475112423,2022-08-15,37.0,t,6,Entire rental unit,Entire home/apt,f,1,...,f,City of London,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Enjoy staying in the heart of London’s Holborn...

## Get list of columns and datatypes

In [35]:
listings.dtypes

id                                  int64
host_id                             int64
host_since                         object
host_listings_count               float64
host_identity_verified             object
calculated_host_listings_count      int64
property_type                      object
room_type                          object
instant_bookable                   object
minimum_nights                      int64
maximum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
price                              object
bedrooms                          float64
beds                              float64
host_is_superhost                  object
neighbourhood_cleansed             object
review_scores_rating              float64
review_scores_accuracy            float64
review_scores_cleanliness         float64
review_scores_checkin             float64
review_scores_communication       float64
review_scores_location            float64
review_scores_value               float64
description                        object
dtype: object

## Convert column datatype

In [46]:
listings['price']

0         42.00
1        175.00
2         79.00
3        150.00
4         46.00
          ...
87941    275.00
87942    145.00
87943    160.00
87944    680.00
87945    170.00
Name: price, Length: 87946, dtype: object

In [45]:
listings['price'] = listings['price'].str.replace('$', '').str.replace(',', '')

In [47]:
listings['price'] = listings['price'].astype(float)

In [48]:
listings.dtypes

id                                  int64
host_id                             int64
host_since                         object
host_listings_count               float64
host_identity_verified             object
calculated_host_listings_count      int64
property_type                      object
room_type                          object
instant_bookable                   object
minimum_nights                      int64
maximum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
price                             float64
bedrooms                          float64
beds                              float64
host_is_superhost                  object
neighbourhood_cleansed             object
review_scores_rating              float64
review_scores_accuracy            float64
review_scores_cleanliness         float64
review_scores_checkin             float64
review_scores_communication       float64
review_scores_location            float64
review_scores_value               float64
description                        object
dtype: object

## Unique Values in a Column

In [50]:
listings.room_type.unique()

array(['Private room', 'Entire home/apt', 'Hotel room', 'Shared room'],
      dtype=object)

## Filtering Columns

In [51]:
listings[['host_id', 'property_type', 'property_type', 'room_type', 'price']]

,host_id,property_type,property_type,room_type,price
0,498201,Private room in rental unit,Private room in rental unit,Private room,42.0
1,499704,Entire rental unit,Entire rental unit,Entire home/apt,175.0
2,54730,Private room in rental unit,Private room in rental unit,Private room,79.0
3,60302,Entire rental unit,Entire rental unit,Entire home/apt,150.0
4,497514,Private room in condo,Private room in condo,Private room,46.0
...,...,...,...,...,...
87941,498408783,Entire rental unit,Entire rental unit,Entire home/apt,275.0
87942,36645347,Entire rental unit,Entire rental unit,Entire home/apt,145.0
87943,340514057,Private room in home,Private room in home,Private room,160.0
87944,439074505,Entire home,Entire home,Entire home/apt,680.0
87945,475112423,Entire rental unit,Entire rental unit,Entire home/apt,170.0

## Filtering Rows

In [53]:
listings[(listings['room_type']=='Private room')]

,id,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,host_is_superhost,neighbourhood_cleansed,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,description
0,92644,498201,2011-04-10,1.0,t,1,Private room in rental unit,Private room,t,2,...,f,Wandsworth,4.57,4.74,4.86,4.71,4.67,4.53,4.68,<b>The space</b><br />Hi everyone! I have 2 ro...
2,13913,54730,2009-11-16,3.0,t,2,Private room in rental unit,Private room,f,1,...,f,Islington,4.80,4.72,4.72,4.74,4.82,4.69,4.69,My bright double bedroom with a large window h...
4,93734,497514,2011-04-10,1.0,t,1,Private room in condo,Private room,f,4,...,t,Greenwich,4.62,4.70,4.59,4.63,4.81,4.64,4.67,<b>During your stay</b><br />I’m a professiona...
9,25123,103583,2010-04-05,3.0,t,3,Private room in home,Private room,t,10,...,f,Barnet,4.78,4.70,4.94,4.91,4.89,4.45,4.74,Big room with double bed/ clean sheets/ clean ...
11,96052,448154,2011-03-17,2.0,t,2,Private room in condo,Private room,f,3,...,f,Brent,4.82,4.71,4.74,4.93,4.90,4.46,4.70,A homey stay experience in a clean modern spac...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87927,973375658553846760,109385731,2017-01-01,17.0,t,11,Private room in rental unit,Private room,t,4,...,f,Camden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private Double Bedroom available now in King's...
87928,973436004574514476,534665388,2023-08-30,6.0,t,6,Private room in rental unit,Private room,f,1,...,f,Hammersmith and Fulham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Spacious, peaceful room in prime Fulham locati..."
87929,973448499788404098,514093963,2023-05-10,1.0,t,1,Private room in rental unit,Private room,f,1,...,f,Bromley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Your family will be close to everything when y...
87937,973718990194023243,107003671,2016-12-12,1.0,t,1,Private room in rental unit,Private room,f,1,...,f,Southwark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Calm room! Overlooking the garden, lots of nat..."
87943,973811685656289740,340514057,2020-03-06,1.0,t,1,Private room in home,Private room,f,1,...,f,Merton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Indexing with iloc

In [57]:
listings.iloc[-1]    ## grab last row from the dataframe

id                                                               973895808066047620
host_id                                                                   475112423
host_since                                                               2022-08-15
host_listings_count                                                            37.0
host_identity_verified                                                            t
calculated_host_listings_count                                                    6
property_type                                                    Entire rental unit
room_type                                                           Entire home/apt
instant_bookable                                                                  f
minimum_nights                                                                    1
maximum_nights                                                                  365
number_of_reviews                                                                 0
reviews_per_month                                                               NaN
price                                                                         170.0
bedrooms                                                                        2.0
beds                                                                            3.0
host_is_superhost                                                                 f
neighbourhood_cleansed                                               City of London
review_scores_rating                                                            NaN
review_scores_accuracy                                                          NaN
review_scores_cleanliness                                                       NaN
review_scores_checkin                                                           NaN
review_scores_communication                                                     NaN
review_scores_location                                                          NaN
review_scores_value                                                             NaN
description                       Enjoy staying in the heart of London’s Holborn...
Name: 87945, dtype: object

In [56]:
listings.iloc[999, 1]  ##first is row, then column

4401190

In [58]:
reviews.iloc[100:200]    ##get subset of the data

,listing_id,id,date,reviewer_id,reviewer_name,comments
100,264789,604161148194498169,2022-04-13,71869511,Lesley,This apartment exceeded our expectations! Vey ...
101,264789,617951332558803251,2022-05-02,30087141,Samuel,Great stay great host. Thanks Sue
102,264789,643285433336251885,2022-06-06,13310518,Eileen,"We joined with our adult son and daughter , ..."
103,264789,663640383803094368,2022-07-04,418185119,Tom,"Great stay, 2 minute walk from the train stati..."
104,264789,681677861979716229,2022-07-29,449857368,Desloovere,We stayed for 5 days in this location. We were...
...,...,...,...,...,...,...
195,268398,688247625933241599,2022-08-07,330623213,Maureen,Très bon séjour. L’appartement était à proximi...
196,268398,691861569431978214,2022-08-12,63870694,Veronica,Everything is fine actually . The room is clea...
197,268398,701334225177058053,2022-08-25,192339945,Min,Small but nice flat. Very close to the train s...
198,268398,702725237709391014,2022-08-27,14953626,Allie,"Beautiful place, quite central. Very clean - w..."
199,268398,704129758685213765,2022-08-29,62308557,Théo,Donovan is very nice and his appartement was g...

## Count Null value in dataframe

In [59]:
listings.isnull().sum()

id                                    0
host_id                               0
host_since                            5
host_listings_count                   5
host_identity_verified                5
calculated_host_listings_count        0
property_type                         0
room_type                             0
instant_bookable                      0
minimum_nights                        0
maximum_nights                        0
number_of_reviews                     0
reviews_per_month                 22158
price                                 0
bedrooms                          32774
beds                               1134
host_is_superhost                   932
neighbourhood_cleansed                0
review_scores_rating              22158
review_scores_accuracy            23093
review_scores_cleanliness         23081
review_scores_checkin             23125
review_scores_communication       23095
review_scores_location            23125
review_scores_value               23126
description                        1267
dtype: int64

## Merging Dataframes

In [65]:
listings_reviews_merge = pd.merge(listings, reviews, how="outer", left_on='id', right_on='listing_id')

In [67]:
listings_reviews_merge.head()

,id_x,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,review_scores_communication,review_scores_location,review_scores_value,description,listing_id,id_y,date,reviewer_id,reviewer_name,comments
0,92644.0,498201.0,2011-04-10,1.0,t,1.0,Private room in rental unit,Private room,t,2.0,...,4.67,4.53,4.68,<b>The space</b><br />Hi everyone! I have 2 ro...,92644.0,5.780519e+17,2022-03-08,85411086.0,Mingsum,Lovely family! Stay in communication all the t...
1,92644.0,498201.0,2011-04-10,1.0,t,1.0,Private room in rental unit,Private room,t,2.0,...,4.67,4.53,4.68,<b>The space</b><br />Hi everyone! I have 2 ro...,92644.0,5.802754e+17,2022-03-11,302676798.0,Kehinde,"Though the booking was lastminute, we had a go..."
2,92644.0,498201.0,2011-04-10,1.0,t,1.0,Private room in rental unit,Private room,t,2.0,...,4.67,4.53,4.68,<b>The space</b><br />Hi everyone! I have 2 ro...,92644.0,5.816994e+17,2022-03-13,170384755.0,Jackie,Dee Dee's home is spotlessly clean and our sta...
3,92644.0,498201.0,2011-04-10,1.0,t,1.0,Private room in rental unit,Private room,t,2.0,...,4.67,4.53,4.68,<b>The space</b><br />Hi everyone! I have 2 ro...,92644.0,5.846278e+17,2022-03-17,445227743.0,Charlotte,"Lovely host, good SW london location"
4,92644.0,498201.0,2011-04-10,1.0,t,1.0,Private room in rental unit,Private room,t,2.0,...,4.67,4.53,4.68,<b>The space</b><br />Hi everyone! I have 2 ro...,92644.0,5.860802e+17,2022-03-19,395438099.0,Claire,Very clean. Gorge room.

In [66]:
listings_reviews_merge.isnull().sum()

id_x                                   7
host_id                                7
host_since                            12
host_listings_count                   12
host_identity_verified                12
calculated_host_listings_count         7
property_type                          7
room_type                              7
instant_bookable                       7
minimum_nights                         7
maximum_nights                         7
number_of_reviews                      7
reviews_per_month                  22165
price                                  7
bedrooms                          350524
beds                               11978
host_is_superhost                  11507
neighbourhood_cleansed                 7
review_scores_rating               22165
review_scores_accuracy             23100
review_scores_cleanliness          23088
review_scores_checkin              23132
review_scores_communication        23102
review_scores_location             23132
review_scores_value                23133
description                         6150
listing_id                         40159
id_y                               40159
date                               40159
reviewer_id                        40159
reviewer_name                      40159
comments                           40247
dtype: int64